name: Build and Push Backend Docker Image

on:
  push:
    tags:
      - 'backend-v*'

jobs:
  build-backend:
    runs-on: ubuntu-latest
    environment: Secrets
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract version from tag
        id: vars
        run: echo "VERSION=${GITHUB_REF#refs/tags/backend-v}" >> $GITHUB_OUTPUT

      - name: Build and push backend Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile.backend
          push: true
          tags: |
            tymoteusz4development/contemplate-whirlpool:${{ steps.vars.outputs.VERSION }}
            tymoteusz4development/contemplate-whirlpool:latest
