name: Build and Push Frontend Docker Image

on:
  push:
    tags:
      - 'frontend-v*'

jobs:
  build-frontend:
    runs-on: ubuntu-latest
    environment: Secrets
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract version from tag
        id: vars
        run: echo "VERSION=${GITHUB_REF#refs/tags/frontend-v}" >> $GITHUB_OUTPUT

      - name: Build and push frontend Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile.frontend
          push: true
          tags: |
            tymoteusz4development/contemplate-whirlpool-frontend:${{ steps.vars.outputs.VERSION }}
            tymoteusz4development/contemplate-whirlpool-frontend:latest
